<mat-sidenav #sidenav [mode]="'side'" class="example-sidenav">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Header
      </mat-expansion-panel-header>
      <mat-action-row>
        <a mat-button routerLink="/home">Home</a>
      </mat-action-row>
      <mat-action-row>
        <a mat-button routerLink="/signin">Grid View</a>
      </mat-action-row>
      <mat-action-row>
        <a mat-button routerLink="/wrong">Page not found</a>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Header 2
      </mat-expansion-panel-header>
      <mat-action-row>
        <a mat-button routerLink="/home">Home</a>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</mat-sidenav>
<mat-sidenav-content>
  <app-header (SideNavOpen)="sidenav.toggle()"></app-header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-content>